.time-picker-container {
  z-index: 1900;
}

.create-booking-request-time-container {
  .field {
    > label {
      display: inline-block;
      width: 100px;
    }

    div[role="alert"] {
      display: none;
    }

    &:first-child {
      margin-bottom: 15px;
    }
  }
}
