.create-booking-requests-table-form-data-grid {
  width: 100%;

  margin: 0 !important;

  > div:first-child {
    padding-top: 0 !important;
  }

  > div {
    padding-bottom: 0 !important;
  }

  > div > div {
    padding-right: 0 !important;
  }
}
