.create-booking-request-date-step-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-booking-request-date-step-error-popup {
  margin-top: 30px !important;
}
