.booking-request-comments-container {
  display: flex !important;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  padding: 30px;

  > div,
  > form {
    width: 100%;
  }

  label {
    display: inline !important;
  }

  textarea {
    margin-top: 10px !important;
  }
}

.booking-request-comments-button {
  float: right;
}

.author {
  display: inline;
}
