.sign-in-button-container {
  width: 40%;
  .button.sign-in-button {
    color: white;
    background: transparent !important;
    border: solid 1px white;

    &:hover {
      color: #2185d0;
      border-color: #2185d0;
    }
  }
}
