.app {
  color: white;
}

.Toastify__toast {
  border-radius: 0.28571429rem;
  text-align: center;
}

.virtualized-table-wrapper {
  padding: 0 0.2rem 0.2rem 0 !important;
  overflow: hidden;

  .ReactVirtualized__Table {
    color: rgba(0, 0, 0, 0.87);
    overflow-wrap: break-word;
  }

  .ReactVirtualized__Table__headerRow {
    background: #f9fafb;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }

  .ReactVirtualized__Table__Grid {
    background-color: white;
  }

  .ReactVirtualized__Table__row {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
  }

  .ReactVirtualized__Table__rowColumn {
    white-space: pre-wrap;
  }
}

body ::-webkit-scrollbar-thumb {
  background: #acacac;
}

.ui.fluid.vertical.buttons,
.ui.fluid.vertical.buttons > .button {
  justify-content: center;
  align-items: center;
  width: 100%;
}

.action-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.flex-no-grow {
  flex-grow: 0 !important;
}

.flex-grow {
  flex-grow: 1 !important;
}

.hover-pointing {
  :hover {
    cursor: pointer;
  }
}

.full-width {
  width: 100%;
}

.auto-height {
  height: auto;
}

.center-text {
  text-align: center;
}

.flex-display {
  display: flex !important;
}

.section-title-container {
  display: flex;

  .section-title {
    margin-right: 0.5rem;
  }

  .section-title-action-container {
    display: flex;
  }
}

.black-text {
  color: black;
}
