.profile-page {
  color: black;

  .avatar.image.avatar-image {
    width: 100%;
    height: auto;
  }

  .meta-info {
    font-weight: normal;
  }

  .capitalise {
    text-transform: capitalize;
  }
}
