.upload-button-container {
  padding: 0 !important;
  margin: 0 !important;

  > button {
    margin: 0 !important;
  }

  > a {
    padding: 0.5833em 0.5em !important;
  }

  > a > i {
    margin: 0 !important;
  }
}
