.add-emails-button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

form {
  margin-bottom: 20px;
}

.email-tags {
  margin-bottom: 10px !important;
}

.user-invite-input {
  margin-right: 10px !important;
}
